@font-face {
  font-family: Smooch-Sans;
  src: url(/assets/font/Roboto,Smooch_Sans/Smooch_Sans/SmoochSans-VariableFont_wght.ttf);
}

body {
  font-family: Smooch-Sans, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

button {
    font
}

