.container {
  margin: rem;
  display: grid;
  grid-template-columns: auto auto;
}

header {
  background-color: antiquewhite;
}

article {
  background-color: aquamarine;
  margin: auto;
}

aside {
  background-color: blue;
  margin: auto;
}

.stats {
  margin-top: 15rem;
  margin-bottom: 5rem;
}
