.container1 {
  display: flex;
  flex-direction: column;
}

header {
  background-color: antiquewhite;
}

.f-art {
  background-color: aquamarine;
  margin: 5rem;
  margin-top: 10rem;
  border: 20px solid grey;
}

.f-asi {
  display: flex;
  background-color: blue;
  margin: 5rem;
  margin-top: 2rem;
  gap: 32px
  ;
}

.stats {
  border: 20px solid grey;
  text-align: center;
}

.s-art {
}

.s-asi {
}

.container2 {
  display: grid;
  grid-template-columns: auto auto;
  margin: 1rem;
}

button {
  margin: auto;
  align-items: flex-end;
}

img {
  height: 40px;
  width: auto;
  margin-left: 0.8rem;
  border-radius: 10%;
}

.nav-center {
  display: flex;
  gap: 32px;
  list-style: none;
  margin-left: 50rem;
}

nav {
  align-items: center;
  display: flex;
}
