

.container {
  display: grid;
  grid-template-columns: auto auto;
}

header {
  background-color: antiquewhite;
}

.f-art {
  background-color: aquamarine;
  margin: 15rem;
}

. {
  background-color: blue;
  margin: 15rem;
}

.stats {
  margin-top: 4rem;
  margin-bottom: 5rem;
}
